<section class="content-header">
    <h1>
      Persediaan
      <small>{{now |date}}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboad-pendapatan"><i class="fa fa-home"></i>Dashboard Persediaan</a></li>
      <!-- <li class="active">Dashboard</li> -->
    </ol>
  </section>
  
  <section class="content">
    <div class="ui-g-12">
      <mk-box header="Realisasi Pendapatan" styleClass="box" boxColor="#8a2be2" headerStyleClass="box-header">
  
      </mk-box>
    </div>
    <div class="ui-g-6">
      <mk-box header="Trend Pendapatan" styleClass="box" boxColor="#ff288d" headerStyleClass="box-header">
  
      </mk-box>
    </div>
    <div class="ui-g-6">
      <mk-box header="Penerimaan" styleClass="box" boxColor="#ffc300" headerStyleClass="box-header">
      </mk-box>
    </div>
  
  </section>